# City Search Jupyter Notebook
---

In [44]:
import imp
import functools
import numpy as np
import pandas as pd
#
import citysearch
imp.reload(citysearch);

### Initial unindexed data exploration:
---

In [45]:
df = citysearch.to_dataframe()
df.iloc[[0,1,2,-3,-2,-1]]

,id,geonameid,name,asciiname,alternatenames,latitude,longitude,feat_class,feat_code,country_code,cc2,admin1_code,admin2_code,admin3_code,admin4_code,population,elevation,dem,timezone,modified
0,0,3039154,El Tarter,El Tarter,"Ehl Tarter,Эл Тартер",42.579521,1.653620,P,PPL,AD,NaN,02,nan,nan,nan,1052,NaN,1721,Europe/Andorra,2012-11-03
1,1,3039163,Sant Julià de Lòria,Sant Julia de Loria,"San Julia,San Julià,Sant Julia de Loria,Sant J...",42.463718,1.491290,P,PPLA,AD,NaN,06,nan,nan,nan,8022,NaN,921,Europe/Andorra,2013-11-23
2,2,3039604,Pas de la Casa,Pas de la Casa,"Pas de la Kasa,Пас де ла Каса",42.542770,1.733610,P,PPL,AD,NaN,03,nan,nan,nan,2363,2050.0,2106,Europe/Andorra,2008-06-09
142280,142280,895417,Banket,Banket,"Banket,Banket Junction",-17.383329,30.400000,P,PPL,ZW,NaN,05,nan,nan,nan,9641,NaN,1277,Africa/Harare,2013-03-12
142281,142281,1085510,Epworth,Epworth,Epworth,-17.889999,31.147499,P,PPLX,ZW,NaN,10,nan,nan,nan,123250,NaN,1508,Africa/Harare,2012-01-19
142282,142282,1106542,Chitungwiza,Chitungwiza,"Chitungviza,Chitungwiza,Citungviza,Gorad Chytu...",-18.012739,31.075550,P,PPL,ZW,NaN,10,nan,nan,nan,340360,NaN,1435,Africa/Harare,2012-01-20

In [46]:
df.shape

(142283, 20)

In [4]:
df.isnull().sum()

geonameid              0
name                   0
asciiname              1
alternatenames     22522
latitude               0
longitude              0
feat_class             0
feat_code              0
country_code          43
cc2               138035
admin1_code            0
admin2_code            0
admin3_code            0
admin4_code            0
population             0
elevation         120886
dem                    0
timezone               0
modified               0
dtype: int64

In [5]:
[(colname, df[colname].str.len().min(), df[colname].str.len().max()) for colname in df.columns if df[colname].dtype == np.object]

[('name', 1, 66),
 ('asciiname', 1.0, 66.0),
 ('alternatenames', 2.0, 589256.0),
 ('feat_class', 1, 1),
 ('feat_code', 3, 5),
 ('country_code', 2.0, 2.0),
 ('cc2', 2.0, 5.0),
 ('admin1_code', 1, 8),
 ('admin2_code', 1, 47),
 ('admin3_code', 1, 10),
 ('admin4_code', 2, 20),
 ('timezone', 9, 30),
 ('modified', 10, 10)]

In [6]:
[(colname, df[colname].min(), df[colname].max()) for colname in df.columns if df[colname].dtype == np.int]

[('geonameid', 2960, 11524333), ('dem', -9999, 5622)]

In [7]:
[(colname, df[colname].min(), df[colname].max()) for colname in df.columns if df[colname].dtype == np.float32]

[('latitude', -77.846001, 78.223343),
 ('longitude', -179.12198, 179.36452),
 ('elevation', -60.0, 3890.0)]

In [8]:
altnames = df[['alternatenames']].copy()
altnames['charlen'] = altnames.alternatenames.str.len()
altnames['wordlen'] = altnames.alternatenames.str.count(',') + 1
print(altnames.charlen.sum(), altnames.wordlen.sum())
altnames.sort_values('charlen', ascending = False)[:10]

8011098.0 715028.0

                                           alternatenames   charlen  wordlen
135433  ksbridzh,Aksbridz,Aksbridzas,Aksbridzh,Aksbrid...  589256.0  15717.0
134126  rving,Erving,Irving,Irvingas,abingu,ayrfyngh,a...  196814.0   5364.0
59053   rvin,Ehrvin,Irbhinn,Irvin,Irvine i Ayrshire,OE...  115552.0   2271.0
57799   kfijld,awkfyld,Ъкфийлд,اوکفیلد\t50.96948\t0.09...   22976.0    398.0
57597   stradgunlajs,Ystradgunlais,Ystradgynlais,Ъстра...   13723.0    352.0
137603  plend,Apland,CCB,Magnolia Villa,North Ontario,...    4713.0    204.0
125025  sparta,Baris,Gorad ysparta,Hamid,Hamid-Abad,Ha...    4059.0    170.0
73536   Adonai-jireh,Aelia Capitolina,Al Quds,Al-Kuds,...    2425.0    251.0
120841  Gorad Petrapaulausk-Kamchacki,Kamchatkataagy P...    1736.0     71.0
137204  Angelopolis,Cuidad De Los Angelos,Cuidad De lo...    1619.0    113.0

### Quick and dirty search implementation (unindexed, unoptimized):

In [27]:
def city_search(afield, avalue):
    """ Lookup a city by key value pair."""
    return df[df[afield] == avalue]

def geo_dist(lat1, lon1, lat2, lon2):
    """ Exact geo distance in kilometers (haversine). """
    lat1, lon1, lat2, lon2 = map(np.radians, [lat1, lon1, lat2, lon2])
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    hs1 = np.sin(dlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2.0)**2
    hs = 2 * np.arcsin(np.sqrt(hs1))
    km = 6367 * hs
    return km

In [28]:
def proximity_search(afield, avalue, k = 10, dt = None):
    """ Locate k nearest cities to specified city key."""
    # locate city:
    rec = city_search(afield, avalue)
    lat1, lon1 = (rec.latitude.iloc[0], rec.longitude.iloc[0])
    # Filter cities with approximate surface patch based
    # on fixed deviations of angular coordinates:
    if dt is None:
        if k < 10**3:
            dt = 2
        else:
            dt = min(180/6*np.log10(k+1)+1, 180)
    dg = df
    # North Pole patch:
    if lat1 > 80:
        latmin = 80 - 4*dt
        latmax = 90
        dg = dg[(dg.latitude >= latmin) & (dg.latitude <= latmax)]
    # South Pole patch:
    elif lat1 < -80:
        latmin = -90
        latmax = -80 + 4*dt
        dg = dg[(dg.latitude >= latmin) & (dg.latitude <= latmax)]
    # Prime meridian patch:
    elif (lon1 + dt > 180) or (lon1 - dt < -180):
        latmin = lat1 - dt
        latmax = lat1 + dt
        dg = dg[(dg.latitude >= latmin) & (dg.latitude <= latmax)]
        dg = dg[(dg.longitude <= -180 + dt) | (dg.longitude >= 180 - dt)]
    # Regular patch:
    elif lon1 + dt < 180 and lon1 - dt > -180:
        latmin = lat1 - dt
        latmax = lat1 + dt
        lonmin = lon1 - dt
        lonmax = lon1 + dt
        dg = dg[(dg.latitude >= latmin) & (dg.latitude <= latmax)]
        dg = dg[(dg.longitude >= lonmin) & (dg.longitude <= lonmax)]
    # With most cities roughly filtered, apply slow exact distance calculation:
    dg['dist'] = dg.apply(lambda arow: vec_geo_dist(lat1, lon1, arow.latitude, arow.longitude), axis = 1)
    dg =  dg.sort_values('dist')
    rs = dg[:k]
    if len(rs) >= k:
        print('under bounded: ', (k, len(dg)))
        return rs
    else:
        print('over bounded: ', (k, len(rs)))
        return proximity_search(afield, avalue, k = k, dt = 2*dt)

In [29]:
proximity_search('name', 'Daly City', k = 10)

TypeError: unorderable types: vectorize() > vectorize()

In [12]:
city_search('name', 'Dallas')

,geonameid,name,asciiname,alternatenames,latitude,longitude,feat_class,feat_code,country_code,cc2,admin1_code,admin2_code,admin3_code,admin4_code,population,elevation,dem,timezone,modified
129703,4190598,Dallas,Dallas,"Dalas,Dallas,dalas,dalas jwrjya,dyalasa,Далас...",33.923710,-84.840767,P,PPLA2,US,NaN,GA,223,nan,nan,12870,318.0,316,America/New_York,2017-03-09
132078,4462896,Dallas,Dallas,"Dalas,Dallas,dalas,dls karwlynay shmaly,Далас...",35.316528,-81.176193,P,PPL,US,NaN,NC,071,nan,nan,4622,242.0,245,America/New_York,2017-03-09
133944,4684888,Dallas,Dallas,"DFW,Dalas,Dalasa,Dalasas,Dallas,Dallas shaary,...",32.783058,-96.806671,P,PPLA2,US,NaN,TX,113,nan,nan,1300092,128.0,139,America/Chicago,2017-03-09
138682,5722064,Dallas,Dallas,"Dalas,Dallas,dalas,dalas awrgn,Далас,Даллас,د...",44.919281,-123.317047,P,PPLA2,US,NaN,OR,053,nan,nan,15277,99.0,101,America/Los_Angeles,2017-03-09

In [13]:
city_search('geonameid', 4684888)

,geonameid,name,asciiname,alternatenames,latitude,longitude,feat_class,feat_code,country_code,cc2,admin1_code,admin2_code,admin3_code,admin4_code,population,elevation,dem,timezone,modified
133944,4684888,Dallas,Dallas,"DFW,Dalas,Dalasa,Dalasas,Dallas,Dallas shaary,...",32.783058,-96.806671,P,PPLA2,US,NaN,TX,113,nan,nan,1300092,128.0,139,America/Chicago,2017-03-09

In [14]:
proximity_search('geonameid', 4684888, k = 16)

under bounded:  (16, 206)

,geonameid,name,asciiname,alternatenames,latitude,longitude,feat_class,feat_code,country_code,cc2,admin1_code,admin2_code,admin3_code,admin4_code,population,elevation,dem,timezone,modified,dist
133944,4684888,Dallas,Dallas,"DFW,Dalas,Dalasa,Dalasas,Dallas,Dallas shaary,...",32.783058,-96.806671,P,PPLA2,US,NaN,TX,113,nan,nan,1300092,128.0,139,America/Chicago,2017-03-09,0.000277
134089,4697616,Highland Park,Highland Park,"Khajlend Park,Хайленд Парк",32.833462,-96.791946,P,PPL,US,NaN,TX,113,nan,nan,9189,161.0,169,America/Chicago,2017-03-09,5.767539
133908,4682251,Cockrell Hill,Cockrell Hill,NaN,32.736240,-96.886948,P,PPL,US,NaN,TX,113,nan,nan,4316,195.0,202,America/Chicago,2017-03-09,9.129504
134118,4699608,Hutchins,Hutchins,"Khachins,hachynz tgzas,hatshynz,Хачинс,هاتشين...",32.649300,-96.713051,P,PPL,US,NaN,TX,113,nan,nan,5727,142.0,146,America/Chicago,2017-03-09,17.249510
133965,4687331,Duncanville,Duncanville,"Dankanvil,danknfyl,danknwyl tgzas,Данканвил,د...",32.651798,-96.908340,P,PPL,US,NaN,TX,113,nan,nan,39826,221.0,224,America/Chicago,2017-03-09,17.410217
133999,4690198,Farmers Branch,Farmers Branch,"Farmers Branch,farmrz bransh,farmrz brnch tgz...",32.926510,-96.896118,P,PPL,US,NaN,TX,113,nan,nan,32689,141.0,147,America/Chicago,2017-03-09,17.995761
133797,4672059,Balch Springs,Balch Springs,NaN,32.728741,-96.622772,P,PPL,US,NaN,TX,113,nan,nan,25210,152.0,159,America/Chicago,2017-03-09,18.215038
134047,4694482,Grand Prairie,Grand Prairie,"Deckman,Grand Prairie,Grand Preri,Grand Preris...",32.745960,-96.997780,P,PPL,US,NaN,TX,113,nan,nan,187809,157.0,162,America/Chicago,2017-03-09,18.328083
133759,4669828,Addison,Addison,"Adison,adyswn,adyswn tgzas,Адисон,آدیسون، تگز...",32.961788,-96.829170,P,PPL,US,NaN,TX,113,nan,nan,15518,194.0,196,America/Chicago,2017-03-09,19.972242
133877,4679195,Carrollton,Carrollton,"Carrollton,Karolton,Karoltonas,Karrolton,Kerro...",32.953732,-96.890282,P,PPL,US,NaN,TX,113,nan,nan,133168,161.0,163,America/Chicago,2017-03-09,20.509071
134029,4693003,Garland,Garland,"Duck Creek,Embree,Garland,Garlandas,Garlend,Gi...",32.912621,-96.638878,P,PPL,US,NaN,TX,113,nan,nan,236897,168.0,174,America/Chicago,2017-03-09,21.276127
133951,4685524,DeSoto,DeSoto,"De Soto,DeSoto,Desoto,Opportunity,Soto,Woodlan...",32.589859,-96.856949,P,PPL,US,NaN,TX,113,nan,nan,52486,203.0,205,America/Chicago,2017-03-09,21.978142
133881,4679803,Cedar Hill,Cedar Hill,"Cedar Hill,Cedarhill",32.588470,-96.956123,P,PPL,US,NaN,TX,113,nan,nan,48507,253.0,258,America/Chicago,2017-03-09,25.748075
133988,4689550,Euless,Euless,"Jules,ywls,ywls tgzas,Јулес,يولس,یولس، تگزاس,...",32.837070,-97.081947,P,PPL,US,NaN,TX,439,nan,nan,54219,179.0,184,America/Chicago,2017-03-09,26.401677
134039,4693726,Glenn Heights,Glenn Heights,NaN,32.548752,-96.856667,P,PPL,US,NaN,TX,113,nan,nan,12042,206.0,206,America/Chicago,2017-03-09,26.453960
133924,4683217,Coppell,Coppell,"Koppell,Коппелл",32.954571,-97.015007,P,PPL,US,NaN,TX,113,nan,nan,41159,158.0,169,America/Chicago,2017-03-09,27.228432

### How fast are radix tries for memory optimized name lookups?
---

In [15]:
import marisa_trie

In [16]:
keys = df.name.values.tolist()
vals = df.geonameid.values.tolist()
kvs = list(zip(keys, vals))
tkvs = list(zip(keys, [(x,) for x in vals]))

In [17]:
trie = marisa_trie.RecordTrie('<L', tkvs)

In [18]:
'San Juan de Mata' in trie, trie['San Juan de Mata']

(True, [(1689220,)])

In [19]:
%timeit trie['San Juan de Mata']

2.69 µs ± 60.3 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [20]:
adict = dict(kvs)

In [21]:
'San Juan de Mata' in adict, adict['San Juan de Mata']

(True, 1689220)

In [22]:
%timeit adict['San Juan de Mata']

69.1 ns ± 1.69 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

### Pandas Multi-Index vs Multiple Single Indexers?
---

#### Observation, Pandas isn't memory efficient with multiple single indexes.

In [ ]:
df.head(4)

In [ ]:
df_latlon = df.set_index(['latitude','longitude'])
df_latlon.head(4)

In [ ]:
df_pop = df.set_index(['population'])
df_pop.head(4)

In [ ]:
df_geonameid = df.set_index(['geonameid'])
df_geonameid.head(4)

### To database:
---

In [ ]:
import sqlalchemy as sa

In [ ]:
engine = sa.create_engine('mysql+mysqldb://root:citysearch123456@127.0.0.1:3306/test?charset=utf8', encoding = 'utf8')

In [ ]:
df.to_sql('City', engine.connect(), if_exists = 'append', index = False, chunksize = 10**4)

In [ ]:
engine = sa.create_engine('mysql+mysqldb://root:user@172.17.0.3:9306/test?charset=utf8', encoding = 'utf8')

In [ ]:
df.to_sql('City', engine.connect(), if_exists = 'append', index = False, chunksize = 10**4)

#### SQLAlchemy is screwing up the connection, always better to go direct to the driver...

In [ ]:
import logger

In [ ]:
import mariadb
imp.reload(mariadb)
from mariadb import SQL

In [ ]:
mysql = SQL(user = 'gone', passwd = 'gone')

In [ ]:
mysql.fetchall('show tables;')

In [ ]:
sphinx = SQL(host = '172.17.0.3', port = 9306)

In [ ]:
sphinx.fetchall('show tables')

In [ ]:
dfmin = df.name + ',' + df.asciiname + ',' + df.alternatenames
dfmin = pd.DataFrame(dfmin, columns = ['altnames'])
dfmin.to_csv('data/city_altnames.tsv', sep = '\t', index = True, index_label = 'id')
dfmin.head()

In [54]:
import sphinxql
imp.reload(sphinxql)
from sphinxql import SphinxQL

In [55]:
sphinx = SphinxQL(host = '172.17.0.3')

In [56]:
sphinx.fetchall('show tables')

(('rt', 'rt'),)

In [60]:
df.head(4)

,id,geonameid,name,asciiname,alternatenames,latitude,longitude,feat_class,feat_code,country_code,cc2,admin1_code,admin2_code,admin3_code,admin4_code,population,elevation,dem,timezone,modified
0,0,3039154,El Tarter,El Tarter,"Ehl Tarter,Эл Тартер",42.579521,1.65362,P,PPL,AD,NaN,02,nan,nan,nan,1052,NaN,1721,Europe/Andorra,2012-11-03
1,1,3039163,Sant Julià de Lòria,Sant Julia de Loria,"San Julia,San Julià,Sant Julia de Loria,Sant J...",42.463718,1.49129,P,PPLA,AD,NaN,06,nan,nan,nan,8022,NaN,921,Europe/Andorra,2013-11-23
2,2,3039604,Pas de la Casa,Pas de la Casa,"Pas de la Kasa,Пас де ла Каса",42.542770,1.73361,P,PPL,AD,NaN,03,nan,nan,nan,2363,2050.0,2106,Europe/Andorra,2008-06-09
3,3,3039678,Ordino,Ordino,"Ordino,ao er di nuo,orudino jiao qu,Ордино,オルデ...",42.556229,1.53319,P,PPLA,AD,NaN,05,nan,nan,nan,3066,NaN,1296,Europe/Andorra,2009-12-11

In [61]:
df.admin4_code[0]

'nan'